<tr class="ng-table-sort-header">
    <th colspan="{{params.headerColspan ? params.headerColspan : $columns.length}}">
        <div class="lv-header-alt clearfix" ng-init="stSearch = {show: false};">
            <ng-include ng-if="params.headerTemplate" src="params.headerTemplate"></ng-include>
            <h2 class="lvh-label hidden-xs" ng-if="params.headerH2">{{params.headerH2}}</h2>
            <st-search ng-if="params.searchDisable !== true" columns="$columns" params="params" search="stSearch"></st-search>
            <ul class="lv-actions actions">
                <li ng-if="params.searchDisable !== true">
                    <a href="" ng-click="stSearch.show = true">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                <st-filter columns="$columns" params="params"></st-filter>
                <st-sort columns="$columns" params="params"></st-sort>
            </ul>
        </div>
    </th>
</tr>
<tr ng-if="params.headerAdditionalRowTemplate" ng-include="params.headerAdditionalRowTemplate"></tr>
